@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background: #1d1916 ;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 333;
}

h1 {
    font-size: 4em;
    background-color: #34302f;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    justify-content: center;  
}

/* Animation du titre h1*/
.fade-in { 
    opacity: 0;
    animation: fadeIn 3s forwards; 
} 

@keyframes fadeIn {
   to { opacity: 1;
  }
}

/* Accueil */
h3 {
  margin-top: 60px;
}

/* Animation du titre de l'accueil */
.slide-down {
  position: relative;
  animation: slide-down 1.5s ease-in-out forwards; 
}

@keyframes slide-down {
  from {
      top: -50px;
      opacity: 0;
  }
  to {
      top: 0;
      opacity: 1;
  }
}

/* Animation de l'image de gauche de l'accueil */
.slide-in-left {
  position: relative;
  border-radius: 15px;
  animation: slide-in-left 1.5s ease-out forwards;
}

@keyframes slide-in-left {
  from {
      left: -100%;
      opacity: 0;
  }
  to {
      left: 0;
      opacity: 1;
  }
}

/* Animation du texte de l'accueil */
.slide-in-right {
  position: relative;
  animation: slide-in-right 1.5s ease-out forwards;
}

@keyframes slide-in-right {
  from {
      right: -100%;
      opacity: 0;
  }
  to {
      right: 0;
      opacity: 1;
  }
}

/* Animation des icones médias sociaux */
.slide-up {
  position: relative;
  animation: slide-up 1.5s ease-in-out forwards;
}

@keyframes slide-up {
  from {
      top: 80px;
      opacity: 0;
  }
  to {
      top: 0;
      opacity: 1;
  }
}

/* Sections */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
    color: #FFFFFF;
}

.section-03 {
    background: #191613
}

.container {
    position: relative;
    display: flex;
    max-width: 1240px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.main-title {
    font-size: 4em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.intro-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 40px;
}

.intro-text-box {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px;
    width: 100%;
    border-radius: 10px;
    transform: translate(-40px, 50px);
    font-size: 1.2em;
    text-align: justify;
}

.intro-text-box h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.content .image {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px;
    width: 100%;
    border-radius: 10px;
    transform: translate(-80px, 50px);
    text-align: justify;
}

.content .text-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.media-icons {
    margin-top: 100px;
}

.media-icons a {
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

.section-title {
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info {
    max-width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.info p {
  font-size: 1.2em;
}

/* Animation des sections */
 h3, h4, p {
    animation: reveal linear both;
    animation-timeline: view(block);
    animation-range: cover 0% contain 20%;
}

.intro-text-box p {
  animation: none;
}

.image {
    animation: reveal linear;
    animation-timeline: view();
    animation-range: cover 0% contain 30%;
}

@keyframes reveal {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

 /* Réalisations */
.realisations h4 {
  margin-top: 90px;
   color: #fff;
   text-align: center;
}

.realisations p {
   font-size: 1.3em;
   color: #fff;
   text-align: center;
}

.slider { 
  display: flex; 
  overflow: hidden;
  width: 98%;
  margin: 50px auto 90px; 
  height: 300px;
  position: relative;
}

  .slider img { 
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 10px;
    flex-shrink: 0; 
    object-fit:cover; 
  }

  .slider-content {
    display: flex;
    width: calc(300px * 18 + 10px * 18);
    /* Calcul de la longueur du slider en fonction des images*/
    animation: slide 30s infinite linear;
  }
  
  @keyframes slide { 
    0% 
    { transform: translateX(0); } 
    100% 
    { transform: translateX(-50%); } 
  }

  /* Review*/
  .reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .review-title {
    display: block;
    color: #fff;
    text-align: center;
  }

  .review-card {
    max-width: 280px;
    max-height: 280px;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    margin: 16px;
    display: inline-block;
    border-radius: 10px;
    animation-timeline: view(block);
    animation-range: entry-crossing 5% contain 20%;
}

.review-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.review-card h3 {
    margin: 8px 0;
    color: #1d1916;
}

.review-card .stars {
    color: rgb(232, 154, 10);
    font-size: 24px;
}

/* Price */
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price h2 {
  padding: 10px;
}

.flip-card { 
  background-color: transparent;
  width: 50%; 
  height: 200px; 
  perspective: 1000px;
} 

.flip-card-inner { 
  position: relative; 
  width: 100%; 
  height: 100%;
  text-align: center; 
  transition: transform 0.6s; 
  transform-style: preserve-3d;
}

.flip-card-inner p, h2 {
  animation: none;
}

.flip-card:hover .flip-card-inner { 
  transform: rotateY(180deg); 
} 

.flip-card-front, .flip-card-back { 
  position: absolute;
  width: 100%; 
  height: 100%;
  align-content:space-evenly;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front { 
  background-color: #bbb; 
  color: black;
} 
  
.flip-card-back { 
  background-color: #34302f; 
  color: white; 
  transform: rotateY(180deg); 
}

.card-front-text {
  padding: 10px;
}

.card-back-text {
  padding: 10px;
}

  /* Footer */
.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #34302f;
  margin-top: 100px;
  color: #fff;
}

.bottom p, h3 {
  animation: none;
  color: #fff;
  margin-bottom: 20px;
}

.gif img {
  width: 100px;
  margin-bottom: 80px;
  margin-right: 30px;
}

/* responsive design */
@media only screen and (max-width: 966px){
  /*style petites-moyennes tablettes */
  h1 {
    font-size: 3em;
  }

  .container {
    width: 100%;
  }

  .main-title {
    font-size: 2.5em;
  }

  .content {
    width: 100%;
    flex-wrap: wrap;
  }
  
  .content .image img {
    position: relative;
  }

  .intro-image {
   left: -20px;
  }

  .intro-image img {
    width: 100%;
  }

  .intro-text-box {
    width: 100%;
    transform: translate(0px, -30px)
  }

  .intro-text-box h3 {
    text-align: center;
  }

  .media-icons a {
    font-size: 1.5em;
    margin: 30px;
  }

  .section-title {
    margin-bottom: 10px;
    font-size: 2em;
  }
  
  .info {
    max-width: 95%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .info-title {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
  }

  .section-03 .content {
    flex-wrap: wrap-reverse;
  } 

  .realisations p {
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 0.8em;
  }

  .flip-card {
    width: 75%;
  }
}

@media only screen and (max-width: 799px){
  /*style smartphones et petites tablettes en portrait*/
 
  .header {
    position: static;
  }

  h1 {
    font-size: 2em;
  }

  .main-title {
    font-size: 1.8em;
  }

  .section-title {
    font-size: 1.8em;
  }

  .media-icons a  {
    font-size: 1.2em;
    margin: 15px;
  }

  .intro-image {
    width: 90%;
    align-content: center;
    left: -20px;
  }

  .info-title {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 399px) {
  /* Style petit smartphone */

  .section-title {
    font-size: 1.2em;
  }

  .info-title {
    font-size: 1.1em;
  }

  .intro-text-box p {
    font-size: 0.7em;
  }
  
  .info p{
    font-size: 0.8em;
    text-wrap: pretty;
  }
}